{%- set thinking_prompt = 'You are a deep thinking AI, you may use extremely long chains of thought to deeply consider the problem and deliberate with yourself via systematic reasoning processes to help come to a correct solution prior to answering. You should enclose your thoughts and internal monologue inside <think> </think> tags, and then provide your solution or response to the problem.' %}
{%- set standard_prompt = 'You are Hermes, created by Nous Research.' %}
{%- if not thinking is defined %}{% set thinking = false %}{% endif %}
{%- if not keep_cots is defined %}{% set keep_cots = false %}{% endif %}
{%- if thinking %}{%- set system_prompt = thinking_prompt %}{%- else %}{%- set system_prompt = standard_prompt %}{%- endif %}
{%- if tools %}
    {{- bos_token + '<|start_header_id|>system<|end_header_id|>\n' }}
    {%- if messages[0]['role'] == 'system' %}
        {{- messages[0]['content'] }}
    {%- else %}
        {{- system_prompt }}
    {%- endif %}
    {{- "\n\n# Tools\n\nYou are a function calling AI model. You may call one or more functions to assist with the user query.\n\nYou are provided with function signatures within <tools></tools> XML tags:\n<tools>" }}
    {%- for tool in tools %}
        {{- "\n" }}
        {{- tool | tojson }}
    {%- endfor %}
    {{- "\n</tools>\n\nFor each function call, return a json object with function name and arguments within <tool_call></tool_call> XML tags:\n<tool_call>\n{\"name\": \"<function-name>\", \"arguments\": <args-json-object>}\n</tool_call><|eot_id|>" }}
{%- else %}
    {%- if messages[0]['role'] == 'system' %}
        {{- bos_token + '<|start_header_id|>system<|end_header_id|>\n\n' + messages[0]['content'] + '<|eot_id|>' }}
    {%- else %}
        {{- bos_token + '<|start_header_id|>system<|end_header_id|>\n\n' + system_prompt + '<|eot_id|>' }}
    {%- endif %}
{%- endif %}
{%- for message in messages %}
    {%- if (message.role == "user") or (message.role == "system" and not loop.first) %}
        {{- '<|start_header_id|>' + message.role + '<|end_header_id|>\n\n' + message.content + '<|eot_id|>' }}
    {%- elif (message.role == "assistant" and not message.tool_calls) %}
        {{- '<|start_header_id|>' + message.role + '<|end_header_id|>\n' }}
        {%- if message.content %}
            {%- set content = message['content'] -%}
            {%- if thinking %}
                {%- if not keep_cots %}
                    {%- set content = '<think> </think>' + content.split('</think>', 1)[1] -%}
                {%- endif %}
            {%- endif %}
            {{- '\n' + content + '<|eot_id|>' }}
        {%- endif %}
    {%- elif message.role == "assistant" %}
        {{- '<|start_header_id|>' + message.role + '<|end_header_id|>\n' }}
        {%- if message.content %}
            {%- set content = message['content'] -%}
            {%- if thinking %}
                {%- if not keep_cots %}
                    {%- set content = '<think> </think>' + content.split('</think>', 1)[1] -%}
                {%- endif %}
            {%- endif %}
            {{- '\n' + content }}
        {%- endif %}
        {%- for tool_call in message.tool_calls %}
            {%- if tool_call.function is defined %}
                {%- set tool_call = tool_call.function %}
            {%- endif %}
            {{- '\n<tool_call>\n{"name": "' }}
            {{- tool_call.name }}
            {{- '", "arguments": ' }}
            {{- tool_call.arguments | tojson }}
            {{- '}\n</tool_call>' }}
        {%- endfor %}
        {{- '<|eot_id|>' }}
    {%- elif message.role == "tool" %}
        {%- if (loop.index0 == 0) or (messages[loop.index0 - 1].role != "tool") %}
            {{- '<|start_header_id|>user<|end_header_id|>\n' }}
        {%- endif %}
        {{- '\n<tool_response>\n' }}
        {{- message.content }}
        {{- '\n</tool_response>' }}
        {%- if loop.last or (messages[loop.index0 + 1].role != "tool") %}
            {{- '<|eot_id|>' }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- if add_generation_prompt %}
    {{- '<|start_header_id|>assistant<|end_header_id|>\n\n' }}
{%- endif %}
